https://github.com/ibmdb/python-ibmdb

ibm-db

Interfaccia per connettersi al DB2 da Python:

The ibm_db contains:
ibm_db driver: Python driver for IBM DB2 and IBM Informix databases. Uses the IBM Data Server Driver for ODBC and CLI APIs to connect to IBM DB2 and Informix.
ibm_db_dbi: Python driver for IBM DB2 and IBM Informix databases that complies to the DB-API 2.0 specification. Checkout the README for getting started with ibm_db and ibm_db_dbi

In [1]:
#esempio di creazione connessione con ibm_db_dbi e lettura nativa della connessione da pandas
import ibm_db_dbi as db2
conn_read = db2.connect()

import pandas as pd
dataset1 = pd.read_sql("SELECT * FROM JUPYTER_04.VEICOLI", conn_read)

In [2]:
print(dataset1)

      ANNO            TIPOLOGIA_VEICOLO  NUMERO_VEICOLI
0   2011.0                      AUTOBUS          3074.0
1   2012.0                      AUTOBUS          2866.0
2   2013.0                      AUTOBUS          2766.0
3   2014.0                      AUTOBUS          2679.0
4   2015.0                      AUTOBUS          2739.0
..     ...                          ...             ...
85  2015.0  TRATTORI STRADALI O MOTRICI          2419.0
86  2016.0  TRATTORI STRADALI O MOTRICI          2568.0
87  2017.0  TRATTORI STRADALI O MOTRICI          2872.0
88  2018.0  TRATTORI STRADALI O MOTRICI          3197.0
89  2019.0  TRATTORI STRADALI O MOTRICI          3385.0

[90 rows x 3 columns]

In [3]:
#informazioni sul dataset caricato
dataset1.describe()

              ANNO  NUMERO_VEICOLI
count    90.000000       90.000000
mean   2015.000000    94984.344444
std       2.596454   208274.131137
min    2011.000000      783.000000
25%    2013.000000     2303.750000
50%    2015.000000     3647.500000
75%    2017.000000    62894.500000
max    2019.000000   724450.000000

In [ ]:
#esporta dati in documento excel, foglio "dati"
dataset1.to_excel("esportazione_tabella_veicoli.xlsx",sheet_name="dati")

In [4]:
#esporta dati in documento excel, foglio "dati" senza indice di riga come colonna
dataset1.to_excel("esportazione_tabella_veicoli_no_index.xlsx",sheet_name="dati", index=False)